In [9]:
import pandas as pd

In [10]:
pd

In [11]:
df = pd.read_excel('../Data/Raw/Fluggastverkehr/avia_paincc_page_spreadsheet.xlsx', sheet_name='Blatt 1', skiprows=9, usecols='A:K')

c:\Users\Karonis\.conda\envs\datascience\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df

,TIME,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,GEO (Beschriftungen),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Deutschland (bis 1990 früheres Gebiet der BRD),81423392,85457504.0,89595245.0,96815779.0,103315782.0,108094961.0,109713023.0,28623425.0,40349528.0,80966547.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spezial Zeichen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,:,nicht erhältlich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_ready = df[0:3]

In [15]:
df_ready = df_ready.drop (index= 1 )

In [16]:
df

,TIME,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,GEO (Beschriftungen),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Deutschland (bis 1990 früheres Gebiet der BRD),81423392,85457504.0,89595245.0,96815779.0,103315782.0,108094961.0,109713023.0,28623425.0,40349528.0,80966547.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spezial Zeichen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,:,nicht erhältlich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN