In [1]:
import pandas as pd

In [2]:
pd

In [3]:
df = pd.read_excel('../Data/Raw/Emission_overviews_by_sector/2023_03_15_em_entwicklung_in_d_ksg-sektoren_pm.xlsx', sheet_name='THG kurz', skiprows=11, usecols='B:AJ')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df

,Sektor des Klimaschutzgesetzes (KSG),Unnamed: 2,1990-01-01 00:00:00,1991-01-01 00:00:00,1992-01-01 00:00:00,1993-01-01 00:00:00,1994-01-01 00:00:00,1995-01-01 00:00:00,1996-01-01 00:00:00,1997-01-01 00:00:00,...,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00
0,1 - Energiewirtschaft,Summe,474598.916371,459762.594802,435483.070898,425715.549355,419800.84925,406702.789742,412636.433872,390795.484911,...,382744.843793,361485.984419,349386.661942,344373.225918,322745.016152,309315.720437,257603.770011,217928.113001,245133.14924,255861.386925
1,2 - Industrie,Summe,278900.02819,253707.369242,243068.496576,233369.230492,237147.804679,238905.770507,227760.991687,232355.325924,...,178334.900602,178507.940576,185920.711511,189943.365739,195493.381329,187608.408582,181989.319745,175698.098201,183252.200633,164155.380971
2,3 - Geb√§ude,Summe,210113.033673,208528.116989,190481.635374,197201.910692,186437.336105,187908.669655,211133.491168,197898.27019,...,139757.80367,118315.027406,124084.949622,124599.112419,122397.985484,116139.903424,121415.484838,123191.405493,118026.052832,111727.674301
3,4 - Verkehr,Summe,163275.371058,166230.693426,172103.676118,176432.469145,172403.910485,176071.343005,175657.35481,176071.578224,...,157424.628897,158598.885043,161520.25312,164623.364388,167430.956134,161833.590638,163658.458939,145399.672703,146786.205933,147857.405724
4,5 - Landwirtschaft,Summe,83128.541008,74227.591774,71416.753258,70937.410086,70510.834879,70936.257394,72418.684336,70234.349322,...,66862.559895,68706.687486,68570.156288,68365.583653,67234.114747,65376.299303,64590.042685,63804.371707,62666.352329,61721.21082
5,6 - Abfallwirtschaft und Sonstiges,Summe,41208.891375,42608.213559,43072.002694,42650.102234,41491.835457,40135.97734,38261.993832,34832.352216,...,8380.636359,7779.894021,7175.139475,6655.161538,6281.325569,5897.267755,5376.593381,4901.028232,4494.047544,4291.346152
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Treibhausgas-Emissionen des Europ√§ischen Emiss...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jahr X-1 liegt f√ºr EU-Proxy zum 31.07. vor
9,Sektor des Klimaschutzgesetzes (KSG),NaN,1990-01-01 00:00:00,1991-01-01 00:00:00,1992-01-01 00:00:00,1993-01-01 00:00:00,1994-01-01 00:00:00,1995-01-01 00:00:00,1996-01-01 00:00:00,1997-01-01 00:00:00,...,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00
10,1 - Energiewirtschaft,Summe,474598.916371,459762.594802,435483.070898,425715.549355,419800.84925,406702.789742,412636.433872,390795.484911,...,382744.843793,361485.984419,349386.661942,344373.225918,322745.016152,309315.720437,257603.770011,217928.113001,245133.14924,255861.386925
11,davon ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,329460.638481,308796.9179,303306.591931,300528.595016,282703.874817,269916.08346,216589.871,182627.32514,208887.073249,NaN
12,CRF 1A1,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 1,NaN,NaN,NaN,NaN,...,325977.827971,305660.314804,300220.061737,297828.325993,279910.523134,266974.825861,213738.217,181619.812878,207765.493025,NaN
13,CRF 1A3e,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 3 e,NaN,NaN,NaN,NaN,...,3165.92351,2849.981096,2792.796194,2462.906023,2595.501683,2503.656599,2406.35,769.253142,808.956834,NaN
14,CRF 1B,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,"QG=QG~1 B 1, 1 B 2",NaN,NaN,NaN,NaN,...,316.887,286.622,293.734,237.363,197.85,437.601,445.304,238.25912,312.62339,NaN
15,davon Nicht-ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53284.205312,52689.066519,46080.070011,43844.630902,40041.141335,39399.636977,41013.899011,35300.787861,36246.075991,NaN
16,Anteil ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.860784,0.854243,0.868112,0.872683,0.875936,0.872623,0.840787,0.838016,0.852137,NaN
17,2 - Industrie,Summe,278900.02819,253707.369242,243068.496576,233369.230492,237147.804679,238905.770507,227760.991687,232355.325924,...,178334.900602,178507.940576,185920.711511,189943.365739,195493.381329,187608.408582,181989.319745,175698.098201,183252.200633,164155.380971
18,davon ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150783.181976,151663.638966,151484.500231,151705.101192,154330.410731,152375.758423,146173.888,137125.524845,145748.694542,NaN
19,CRF 1A2,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 2,NaN,NaN,NaN,NaN,...,98667.777324,100186.585347,99280.891519,100064.528158,100561.138835,98509.999936,94960.524,89497.5446,95835.886171,NaN
20,CRF 2,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,"QG=QG~2 A, 2 B, 2 C, 2 D",NaN,NaN,NaN,NaN,...,52115.404652,51477.053619,52203.608712,51640.573034,53769.271896,53865.758487,51213.364,47627.980245,49912.808371,NaN
21,davon Nicht-ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27551.718626,26844.30161,34436.21128,38238.264547,41162.970598,35232.650159,35815.431745,38572.573356,37503.506091,NaN
22,Anteil ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.845506,0.849618,0.81478,0.798686,0.789441,0.812201,0.8032,0.780461,0.795345,NaN
23,3 - Geb√§ude,Summe,210113.033673,208528.116989,190481.635374,197201.910692,186437.336105,187908.669655,211133.491168,197898.27019,...,139757.80367,118315.027406,124084.949622,124599.112419,122397.985484,116139.903424,121415.484838,123191.405493,118026.052832,111727.674301
24,davon ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,585.248,516.181,530.948,544.428,558.58,528.821,546.121,518.31382,580.258224,NaN
25,CRF 1A4a,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 4 a,NaN,NaN,NaN,NaN,...,503.655,447.671,454.697,467.096,483.885,457.34,462.759,439.678546,488.823119,NaN
26,CRF 1A4b,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 4 b,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
27,CRF 1A5,NaN,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 5,NaN,NaN,NaN,NaN,...,81.593,68.51,76.251,77.332,74.695,71.481,83.362,78.635274,91.435105,NaN
28,davon Nicht-ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139172.55567,117798.846406,123554.001622,124054.684419,121839.405484,115611.082424,120869.363838,122673.091673,117445.794608,NaN
29,Anteil ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.004188,0.004363,0.004279,0.004369,0.004564,0.004553,0.004498,0.004207,0.004916,NaN
30,* EU-ETS-Anteile an CRF Kategorien basierend a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Cross-Check Gesamt-ETS (gr√ºn=keine Abweichungen),NaN,ZSE_aktuell,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,NaN,NaN,NaN,NaN,NaN,...,480829.068457,460976.737866,455322.040162,452778.124208,437592.865548,422820.662883,363309.88,320271.163805,355216.026015,NaN

In [6]:
del df['Unnamed: 2']

In [7]:
df

,Sektor des Klimaschutzgesetzes (KSG),1990-01-01 00:00:00,1991-01-01 00:00:00,1992-01-01 00:00:00,1993-01-01 00:00:00,1994-01-01 00:00:00,1995-01-01 00:00:00,1996-01-01 00:00:00,1997-01-01 00:00:00,1998-01-01 00:00:00,...,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00
0,1 - Energiewirtschaft,474598.916371,459762.594802,435483.070898,425715.549355,419800.84925,406702.789742,412636.433872,390795.484911,390726.303171,...,382744.843793,361485.984419,349386.661942,344373.225918,322745.016152,309315.720437,257603.770011,217928.113001,245133.14924,255861.386925
1,2 - Industrie,278900.02819,253707.369242,243068.496576,233369.230492,237147.804679,238905.770507,227760.991687,232355.325924,215347.770905,...,178334.900602,178507.940576,185920.711511,189943.365739,195493.381329,187608.408582,181989.319745,175698.098201,183252.200633,164155.380971
2,3 - Geb√§ude,210113.033673,208528.116989,190481.635374,197201.910692,186437.336105,187908.669655,211133.491168,197898.27019,189758.025206,...,139757.80367,118315.027406,124084.949622,124599.112419,122397.985484,116139.903424,121415.484838,123191.405493,118026.052832,111727.674301
3,4 - Verkehr,163275.371058,166230.693426,172103.676118,176432.469145,172403.910485,176071.343005,175657.35481,176071.578224,179344.439298,...,157424.628897,158598.885043,161520.25312,164623.364388,167430.956134,161833.590638,163658.458939,145399.672703,146786.205933,147857.405724
4,5 - Landwirtschaft,83128.541008,74227.591774,71416.753258,70937.410086,70510.834879,70936.257394,72418.684336,70234.349322,70197.333404,...,66862.559895,68706.687486,68570.156288,68365.583653,67234.114747,65376.299303,64590.042685,63804.371707,62666.352329,61721.21082
5,6 - Abfallwirtschaft und Sonstiges,41208.891375,42608.213559,43072.002694,42650.102234,41491.835457,40135.97734,38261.993832,34832.352216,32230.180063,...,8380.636359,7779.894021,7175.139475,6655.161538,6281.325569,5897.267755,5376.593381,4901.028232,4494.047544,4291.346152
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Treibhausgas-Emissionen des Europ√§ischen Emiss...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jahr X-1 liegt f√ºr EU-Proxy zum 31.07. vor
9,Sektor des Klimaschutzgesetzes (KSG),1990-01-01 00:00:00,1991-01-01 00:00:00,1992-01-01 00:00:00,1993-01-01 00:00:00,1994-01-01 00:00:00,1995-01-01 00:00:00,1996-01-01 00:00:00,1997-01-01 00:00:00,1998-01-01 00:00:00,...,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00
10,1 - Energiewirtschaft,474598.916371,459762.594802,435483.070898,425715.549355,419800.84925,406702.789742,412636.433872,390795.484911,390726.303171,...,382744.843793,361485.984419,349386.661942,344373.225918,322745.016152,309315.720437,257603.770011,217928.113001,245133.14924,255861.386925
11,davon ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,329460.638481,308796.9179,303306.591931,300528.595016,282703.874817,269916.08346,216589.871,182627.32514,208887.073249,NaN
12,CRF 1A1,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 1,NaN,NaN,NaN,NaN,NaN,...,325977.827971,305660.314804,300220.061737,297828.325993,279910.523134,266974.825861,213738.217,181619.812878,207765.493025,NaN
13,CRF 1A3e,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 3 e,NaN,NaN,NaN,NaN,NaN,...,3165.92351,2849.981096,2792.796194,2462.906023,2595.501683,2503.656599,2406.35,769.253142,808.956834,NaN
14,CRF 1B,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,"QG=QG~1 B 1, 1 B 2",NaN,NaN,NaN,NaN,NaN,...,316.887,286.622,293.734,237.363,197.85,437.601,445.304,238.25912,312.62339,NaN
15,davon Nicht-ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53284.205312,52689.066519,46080.070011,43844.630902,40041.141335,39399.636977,41013.899011,35300.787861,36246.075991,NaN
16,Anteil ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.860784,0.854243,0.868112,0.872683,0.875936,0.872623,0.840787,0.838016,0.852137,NaN
17,2 - Industrie,278900.02819,253707.369242,243068.496576,233369.230492,237147.804679,238905.770507,227760.991687,232355.325924,215347.770905,...,178334.900602,178507.940576,185920.711511,189943.365739,195493.381329,187608.408582,181989.319745,175698.098201,183252.200633,164155.380971
18,davon ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150783.181976,151663.638966,151484.500231,151705.101192,154330.410731,152375.758423,146173.888,137125.524845,145748.694542,NaN
19,CRF 1A2,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 2,NaN,NaN,NaN,NaN,NaN,...,98667.777324,100186.585347,99280.891519,100064.528158,100561.138835,98509.999936,94960.524,89497.5446,95835.886171,NaN
20,CRF 2,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,"QG=QG~2 A, 2 B, 2 C, 2 D",NaN,NaN,NaN,NaN,NaN,...,52115.404652,51477.053619,52203.608712,51640.573034,53769.271896,53865.758487,51213.364,47627.980245,49912.808371,NaN
21,davon Nicht-ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27551.718626,26844.30161,34436.21128,38238.264547,41162.970598,35232.650159,35815.431745,38572.573356,37503.506091,NaN
22,Anteil ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.845506,0.849618,0.81478,0.798686,0.789441,0.812201,0.8032,0.780461,0.795345,NaN
23,3 - Geb√§ude,210113.033673,208528.116989,190481.635374,197201.910692,186437.336105,187908.669655,211133.491168,197898.27019,189758.025206,...,139757.80367,118315.027406,124084.949622,124599.112419,122397.985484,116139.903424,121415.484838,123191.405493,118026.052832,111727.674301
24,davon ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,585.248,516.181,530.948,544.428,558.58,528.821,546.121,518.31382,580.258224,NaN
25,CRF 1A4a,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 4 a,NaN,NaN,NaN,NaN,NaN,...,503.655,447.671,454.697,467.096,483.885,457.34,462.759,439.678546,488.823119,NaN
26,CRF 1A4b,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 4 b,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
27,CRF 1A5,NaN,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,QG=QG~1 A 5,NaN,NaN,NaN,NaN,NaN,...,81.593,68.51,76.251,77.332,74.695,71.481,83.362,78.635274,91.435105,NaN
28,davon Nicht-ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139172.55567,117798.846406,123554.001622,124054.684419,121839.405484,115611.082424,120869.363838,122673.091673,117445.794608,NaN
29,Anteil ETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.004188,0.004363,0.004279,0.004369,0.004564,0.004553,0.004498,0.004207,0.004916,NaN
30,* EU-ETS-Anteile an CRF Kategorien basierend a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Cross-Check Gesamt-ETS (gr√ºn=keine Abweichungen),ZSE_aktuell,Wertetyp=ETS-EmB (CO2-eq),Schadstoff=CO2,NaN,NaN,NaN,NaN,NaN,NaN,...,480829.068457,460976.737866,455322.040162,452778.124208,437592.865548,422820.662883,363309.88,320271.163805,355216.026015,NaN

In [8]:
df_ready = df[0:6]

In [9]:
df_ready

,Sektor des Klimaschutzgesetzes (KSG),1990-01-01 00:00:00,1991-01-01 00:00:00,1992-01-01 00:00:00,1993-01-01 00:00:00,1994-01-01 00:00:00,1995-01-01 00:00:00,1996-01-01 00:00:00,1997-01-01 00:00:00,1998-01-01 00:00:00,...,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00
0,1 - Energiewirtschaft,474598.916371,459762.594802,435483.070898,425715.549355,419800.84925,406702.789742,412636.433872,390795.484911,390726.303171,...,382744.843793,361485.984419,349386.661942,344373.225918,322745.016152,309315.720437,257603.770011,217928.113001,245133.14924,255861.386925
1,2 - Industrie,278900.02819,253707.369242,243068.496576,233369.230492,237147.804679,238905.770507,227760.991687,232355.325924,215347.770905,...,178334.900602,178507.940576,185920.711511,189943.365739,195493.381329,187608.408582,181989.319745,175698.098201,183252.200633,164155.380971
2,3 - Geb√§ude,210113.033673,208528.116989,190481.635374,197201.910692,186437.336105,187908.669655,211133.491168,197898.27019,189758.025206,...,139757.80367,118315.027406,124084.949622,124599.112419,122397.985484,116139.903424,121415.484838,123191.405493,118026.052832,111727.674301
3,4 - Verkehr,163275.371058,166230.693426,172103.676118,176432.469145,172403.910485,176071.343005,175657.35481,176071.578224,179344.439298,...,157424.628897,158598.885043,161520.25312,164623.364388,167430.956134,161833.590638,163658.458939,145399.672703,146786.205933,147857.405724
4,5 - Landwirtschaft,83128.541008,74227.591774,71416.753258,70937.410086,70510.834879,70936.257394,72418.684336,70234.349322,70197.333404,...,66862.559895,68706.687486,68570.156288,68365.583653,67234.114747,65376.299303,64590.042685,63804.371707,62666.352329,61721.21082
5,6 - Abfallwirtschaft und Sonstiges,41208.891375,42608.213559,43072.002694,42650.102234,41491.835457,40135.97734,38261.993832,34832.352216,32230.180063,...,8380.636359,7779.894021,7175.139475,6655.161538,6281.325569,5897.267755,5376.593381,4901.028232,4494.047544,4291.346152

In [10]:
df_ready = df_ready.replace(['1 - Energiewirtschaft', '2 - Industrie', '3 - Geb√§ude', '4 - Verkehr', '5 - Landwirtschaft', '6 - Abfallwirtschaft und Sonstiges'],['Energiewirtschaft', 'Industrie', 'Geb√§ude', 'Verkehr', 'Landwirtschaft', 'Abfallwirtschaft und Sonstiges'])

In [11]:
df_ready

,Sektor des Klimaschutzgesetzes (KSG),1990-01-01 00:00:00,1991-01-01 00:00:00,1992-01-01 00:00:00,1993-01-01 00:00:00,1994-01-01 00:00:00,1995-01-01 00:00:00,1996-01-01 00:00:00,1997-01-01 00:00:00,1998-01-01 00:00:00,...,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00,2019-01-01 00:00:00,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00
0,Energiewirtschaft,474598.916371,459762.594802,435483.070898,425715.549355,419800.849250,406702.789742,412636.433872,390795.484911,390726.303171,...,382744.843793,361485.984419,349386.661942,344373.225918,322745.016152,309315.720437,257603.770011,217928.113001,245133.149240,255861.386925
1,Industrie,278900.028190,253707.369242,243068.496576,233369.230492,237147.804679,238905.770507,227760.991687,232355.325924,215347.770905,...,178334.900602,178507.940576,185920.711511,189943.365739,195493.381329,187608.408582,181989.319745,175698.098201,183252.200633,164155.380971
2,Geb√§ude,210113.033673,208528.116989,190481.635374,197201.910692,186437.336105,187908.669655,211133.491168,197898.270190,189758.025206,...,139757.803670,118315.027406,124084.949622,124599.112419,122397.985484,116139.903424,121415.484838,123191.405493,118026.052832,111727.674301
3,Verkehr,163275.371058,166230.693426,172103.676118,176432.469145,172403.910485,176071.343005,175657.354810,176071.578224,179344.439298,...,157424.628897,158598.885043,161520.253120,164623.364388,167430.956134,161833.590638,163658.458939,145399.672703,146786.205933,147857.405724
4,Landwirtschaft,83128.541008,74227.591774,71416.753258,70937.410086,70510.834879,70936.257394,72418.684336,70234.349322,70197.333404,...,66862.559895,68706.687486,68570.156288,68365.583653,67234.114747,65376.299303,64590.042685,63804.371707,62666.352329,61721.210820
5,Abfallwirtschaft und Sonstiges,41208.891375,42608.213559,43072.002694,42650.102234,41491.835457,40135.977340,38261.993832,34832.352216,32230.180063,...,8380.636359,7779.894021,7175.139475,6655.161538,6281.325569,5897.267755,5376.593381,4901.028232,4494.047544,4291.346152